@font-face {
    font-family: 'Montserrat-Light';
    src: url('../../assets/fonts/Montserrat-Light/Montserrat-Light.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Montserrat-Light/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
