@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../../assets/fonts/Montserrat/Montserrat-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.container {
  background: #F7F9FC;
  width: 100%;
  min-height: 100vh;
  padding:0 15px 28px;
  font-family:'Montserrat-Bold', sans-serif ;
}
